@charset "utf-8";


@media all and (max-width:1390px){ 

	#main #section6>div .sec6-bottom>div>ul>li.sec6-txtBx:nth-child(3)>div>a>h4 { padding:75px 40px 160px 40px; }
}

@media all and (max-width:1280px){ 

	#main #section6>div .sec6-bottom>div>ul>li.sec6-txtBx:nth-child(1)>div>a>h4 {  padding:75px 40px 160px 40px; }
	#main #section6>div .sec6-bottom>div>ul>li.sec6-txtBx:nth-child(2)>div>a>h4 {  padding:75px 40px 160px 40px; }
	#main #section6>div .sec6-bottom>div>ul>li.sec6-txtBx:nth-child(3)>div>a>h4 {  padding:75px 40px 160px 40px; }
}

@media all and (max-width:1240px){ 

	#main #section6>div .sec6-bottom>div>ul>li.sec6-txtBx:nth-child(1)>div>a>h4 {  padding:75px 40px 180px 40px; }
	#main #section6>div .sec6-bottom>div>ul>li.sec6-txtBx:nth-child(2)>div>a>h4 {  padding:75px 40px 160px 40px; }
	#main #section6>div .sec6-bottom>div>ul>li.sec6-txtBx:nth-child(3)>div>a>h4 {  padding:75px 40px 180px 40px; }
}

@media all and (max-width:1200px){ 

	#main #section1>div .sec1-video .txt>h3 { bottom:50%; margin-bottom:-85px; }
	
	#main #section4>div .sec4PrevBt-wrap { display:none; }
	#main #section4>div .sec4NextBt-wrap { display:none; }
	#main #section4>div .pageBt-wrap { display:block; opacity:0; }
	#main #section4>div .pageBt-wrap {padding:100px 0; }

}
@media all and (max-width:1100px){ 

	/* 헤더 앱바 보이기 */
	#header .gnb .header-wrap>div .header-modal-line-wrap { display:block; }

	#main #section2 { padding:180px 0 60px 0; }
	#main #section2>div .onAir { z-index:3; position:absolute; width:100%; top:-20%; left:25px; }
	#main #section2>div .sec2-img-container { width:100%; position:relative; top:0; left:10%; padding-left:0; }

	#main #section6>div .sec6-left>div>span { padding:30px 0 0 20px; }
	/* 1100에서 헤더내용 감추기 */
	#header .gnb .header-wrap>div .header-container .nav>ul { display:none; }
	#header .gnb .header-wrap>div .header-container .lang-wrap { display:none; }
	
	/* 섹션6 날짜 위치잡기, white-space:nowrap; overflow:hidden; text-overflow:ellipsis;*/
	#main #section6>div .sec6-bottom>div>ul>li.sec6-txtBx:nth-child(1)>div>a>h4 {  padding:75px 40px 180px 40px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; }
	#main #section6>div .sec6-bottom>div>ul>li.sec6-txtBx:nth-child(2)>div>a>h4 {  padding:75px 40px 180px 40px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; }
	#main #section6>div .sec6-bottom>div>ul>li.sec6-txtBx:nth-child(3)>div>a>h4 {  padding:75px 40px 180px 40px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; }

	#main #section6>div .sec6-left>div>div.sec6-title { padding:100px 0 0 0; }
	
	/* 메인3 그래프 */
	#main3 #section2>div .graph-container>div .graph-txt { padding-bottom:130px;}
	#main3 #section2>div .graph-container>div { padding:130px 30px 50px 30px; }
	#main3 #section2>div .graph-container>div .graph-wrap { z-index:2; position:absolute; top:62%; left:10%; width:90%;  height:100%; }
	#main3 #section2>div .graph-container>div .graph-bar>div.graph-nameRow1 { position:absolute; bottom:11%; left:12.2%; width:100%;}
	#main3 #section2>div .graph-container>div .graph-bar>div.graph-nameRow1>ul>li { float:left; width:12.9%; }
	#main3 #section2>div .graph-container>div .graph-bar>div.graph-nameRow1>ul>li:nth-child(2) { margin-right:0.6666667%; }
	#main3 #section2>div .graph-container>div .graph-bar>div.graph-nameRow1>ul>li:nth-child(3) { margin-right:0.6666667%; }
	#main3 #section2>div .graph-container>div .graph-bar>div.graph-nameRow1>ul>li:nth-child(4) { margin-right:-1.6666667%; }
	#main3 #section2>div .graph-container>div .graph-bar>div.graph-nameRow2 { position:absolute; bottom:9%; left:52.5%; margin-left:-6.6666667%; width:100%; }
	#main3 #section2>div .graph-container>div .graph-year-wrap { top:20%; left:0; padding:0 0 60px 30px;}
	
	#footer>div .footer-row1>div>ul>li { display:inline-block; padding:40px 3% 0 3%; }
	#footer>div .footer-row1>div>ul>li:nth-child(4) { display:inline-block; padding:0 3% 0 3%; }
	
	
	#footer>div .footer-row2>div>div.footer-row2-bottom>p { float:none; padding-bottom:20px; }
	#footer>div .footer-row2>div>div.footer-row2-bottom>span { float:none; }
	/* 고탑 */
	.goTop-wrap { bottom:370px; left:93%; }


} /*1100*/

@media all and (max-width:960px){
	
	#main #section3>div>div>span.sec3-bt-wrap>h3 { font-size:80px; left:50%; margin-left:-160.22px; }
	#main #section3>div>div>span.sec3-bt-wrap>a { top:55%; left:50%; margin-left:-60.03px; }
	/* 푸터 row1*/
	#footer>div .footer-row1 { width:100%; text-align:center; border-bottom:0; padding:30px 0; }
	#footer>div .footer-row1>div { width:100%; max-width:1064px; height:180px; margin:0 auto;  }
	#footer>div .footer-row1>div>ul>li:nth-child(4) { position:absolute; top:80px; left:50%; margin-left:-56px; display:inline-block; padding:0 4% 0 4%; }
	/* 푸터 row2*/
	#footer>div .footer-row2 { width:100%; padding:0 0 30px 0; }
	#footer>div .footer-row2>div { width:100%; text-align:center; }
	#footer>div .footer-row2>div>div.footer-row2-top { display:inline-block; padding-left:0; padding-right:10%; }
	#footer>div .footer-row2>div>div.footer-row2-bottom>p { display:inline-block; float:none;  padding-right:10%; }
	#footer>div .footer-row2>div>div.footer-row2-bottom>span { display:block; float:none; }
	/* 고탑 */
	.goTop-wrap { bottom:430px; left:90%; }

} /*960*/
@media all and (max-width:800px){
	
	#main #section2 { padding:130px 0 60px 0; }
	#main #section6>div .sec6-left>div>div.sec6-title { padding:80px 0 0 0; }
	
} /*800*/


@media all and (max-width:760px){
	
	/* 헤더높이 줄이기 */
	#header { height:90px; }
	#header .gnb .header-wrap>div .header-container .nav { height:90px; opacity:0; }
	#header .gnb .header-wrap>div .header-container .nav>ul { opacity:0; display:none; }
	
	#header .gnb .header-wrap>div .header-container h1.logoBt-wrap { position:absolute; top:14px; height:70px; }
	#header .gnb .header-wrap>div .header-container h1.logoBt-wrap>a>img { width:auto; height:70px; }
	/* 섹션3 버튼 */
	#main #section3>div>div>span.sec3-bt-wrap>h3 { font-size:65px; left:50%; top:20%; margin-left:-134.865px;  }
	#main #section3>div>div>span.sec3-bt-wrap>a { top:35%; left:50%; margin-left:-60.03px; }
	/* 섹션6 오른쪽 갈색박스 */
	#main #section6>div .sec6-right>div {  left:40%; width:100%;  }
	

	
	#main #section6>div .sec6-bottom>div>ul>li.sec6-txtBx:nth-child(1)>div>a>h4 {  padding:30px 20px 50px 25px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; }
	#main #section6>div .sec6-bottom>div>ul>li.sec6-txtBx:nth-child(2)>div>a>h4 {  padding:30px 20px 50px 25px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; }
	#main #section6>div .sec6-bottom>div>ul>li.sec6-txtBx:nth-child(3)>div>a>h4 {  padding:30px 20px 50px 25px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; }
	
	
	
	/* 섹션6 텍스트 엘립시스*/
	#main #section6>div .sec6-bottom>div>ul>li.sec6-txtBx:nth-child(1)>div>a>h4 {  padding:30px 20px 50px 25px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; }
	#main #section6>div .sec6-bottom>div>ul>li.sec6-txtBx:nth-child(2)>div>a>h4 {  padding:30px 20px 50px 25px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; }
	#main #section6>div .sec6-bottom>div>ul>li.sec6-txtBx:nth-child(3)>div>a>h4 {  padding:30px 20px 50px 25px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; }

	/* 메인3 재무재표 */
	#main3 #section2>div .graph-container>div .graph-bar>div.graph-nameRow1>ul>li { float:left; }
	#main3 #section2>div .graph-container>div .graph-bar>div.graph-nameRow1>ul>li:nth-child(1) { width:28%; }
	#main3 #section2>div .graph-container>div .graph-bar>div.graph-nameRow1>ul>li:nth-child(2) { display: none; }
	#main3 #section2>div .graph-container>div .graph-bar>div.graph-nameRow1>ul>li:nth-child(3) { width:20%; }
	#main3 #section2>div .graph-container>div .graph-bar>div.graph-nameRow1>ul>li:nth-child(4) { display: none; }
	#main3 #section2>div .graph-container>div .graph-bar>div.graph-nameRow1>ul>li:nth-child(5) { width:28%; }
	#main3 #section2>div .graph-container>div .graph-bar>div.graph-nameRow1>ul>li:nth-child(6) { display: none; }
	#main3 #section2>div .graph-container>div .graph-bar>div.graph-nameRow2 { bottom:7%; left:50%; margin-left:-6.6666667%; }
	/* 푸터 */
	#footer>div { margin-top:100px;  }
	
	
	/* 섹션6 아래쪽*/
	#main #section6>div .sec6-bottom { height:356px; }
	#main #section6>div .sec6-bottom>div { width:100%; }
	#main #section6>div .sec6-bottom>div>ul { position:relative; height:600px;  }
	#main #section6>div .sec6-bottom>div>ul>li.sec6-txtBx { position:absolute; opacity:0; top:400px; float:none; width:100%; height:200px; }
	#main #section6>div .sec6-bottom>div>ul>li.sec6-txtBx>div { width:100%; text-align:left;}
	#main #section6>div .sec6-bottom>div>ul>li.sec6-txtBx1.addS6Txt { margin-top:-178px; z-index:1; top:0; opacity:1; left:0; transition:all 1s; }
	#main #section6>div .sec6-bottom>div>ul>li.sec6-txtBx2.addS6Txt { margin-top:-178px; z-index:2; top:200px; opacity:1; left:0; transition:all 1s; }
	#main #section6>div .sec6-bottom>div>ul>li.sec6-txtBx3.addS6Txt { margin-top:-178px; z-index:3; top:400px; opacity:1; left:0; transition:all 1s; }
	/* 고탑 */
	.goTop-wrap { opacity:0; z-index:1; }

	
	

}	/*760*/

@media all and (max-width:640px){
	/* 섹션2 */
	#main #section2>div { padding-bottom:50px; }
	/* 섹션3 */
	#main #section3>div>div>span.sec3-bt-wrap>h3 { font-size:47px; left:50%; top:25%; margin-left:-104.445px; letter-spacing:8px; }
	#main #section3>div>div>span.sec3-bt-wrap>a { top:38%; left:50%; margin-left:-60.03px; letter-spacing:2px; }
	#main #section3>div>div>span.sec3-bt-wrap>a:after { content:'→';  display:inline-block; position:absolute; top:0; left:100px; }
	#main #section3>div>div>span.sec3-bt-wrap>a>i { width:140px; }
	#main #section3>div {  position:relative; top:-120px; width:100%; height:100%; background:url(../img/works_bg.jpg) no-repeat 50% 50%; background-size:250%; }
	/* 섹션4 */
	#main #section4>div .sec4-container {  position:absolute; top:-300px; left:50%; margin-left:-750px; width:100%; }
	/* 섹션5 */
	#main #section5>div>div .sec5-txt-wrap>div>h2 { letter-spacing:3px; }
	#main #section5>div>div .sec5-txt-wrap>div>p { padding:0 30px; }
	
	/* 메인3 재무재표 */
	#main3 #section2>div .graph-container>div .graph-bar { width:90%; }	
	#main3 #section2>div .graph-container>div .graph-wrap { z-index:2; position:absolute; top:62%; left:13%; width:78%;  height:100%; }
	/* 메인3 재무재표 테이블 */
	#main3 #section3>div .sec3-tabMenu>div>span:nth-child(3) { display:block; margin-top:5px; }
	/* 푸터 */
	#footer>div .footer-row1>div>ul>li>div>span>a { font-size:12px; color:#fff; font-weight:600; letter-spacing:1px;}
	#footer>div .footer-row1>div>ul>li { display:inline-block; padding:40px 3% 0 3%; }
	#footer>div .footer-row1>div>ul>li:nth-child(4) { display:inline-block; padding:0 3% 0 3%; }

} /*640*/


@media all and (max-width:470px){
	
	/* 메인2 검색박스 위치조정 */
	#main2 #notice>div .notice-search>div .notice-search-left  { display:block; margin:0 auto; }
	#main2 #notice>div .notice-search>div .notice-search-right { display:block; margin:15px auto; }
	/* 메인3 재무재표 타이틀 */
	#main3 #section2>div .graph-container>div .graph-txt>h3 { font-size:15px; }
	#main3 #section2>div .graph-container>div .graph-txt ul.digital>li { font-size:15px; }
	#main3 #section2>div .graph-container>div .graph-txt ul.digital>span { font-size:15px; }
	/* 푸터 */
	#footer>div .footer-row1>div>ul>li>div>span>a { font-size:12px; color:#fff; font-weight:600; letter-spacing:0;}
	#footer>div .footer-row1>div>ul>li { display:inline-block; padding:40px 1% 0 1%; }
	#footer>div .footer-row1>div>ul>li:nth-child(4) { display:inline-block; padding:0 1% 0 1%; }

}	
@media all and (max-width:400px){
	/* 헤더모달 닫기아이콘,화살아이콘 위치조정 */
	#header .gnb .header-wrap>div .header-modal>div .language-wrap>span:last-child { right:50px; }
	#header .gnb .header-wrap>div .header-modal>div .header-modal-menu>ul>li>div>a>i { right:30px; }
	/* 섹션2 위아래 여백조정*/
	#main #section2 { padding:130px 0 0 0; }
	
	/* main3 섹션2 그래프*/
	#main3 #section2>div { width:100%; max-width:400px; }
	#main3 #section2>div .graph-container>div { padding:150px 30px 50px 10px; }
	#main3 #section2>div .graph-container>div .graph-year-wrap { padding-left:10px; }
	/* 재무재표 */
	#main3 #section2>div .graph-container>div .graph-wrap { top:63.8%; left:16%; width:73%; }
	#main3 #section2>div .graph-container>div .graph-bar>p:nth-child(6)>i { width:82.5%; height:2px; background:rgb(224, 224, 224); margin-top:6px;}
	#main3 #section2>div .graph-container>div .graph-bar>div.graph-nameRow1 { position:absolute; bottom:10%; left:17.2%; width:100%; }
	#main3 #section2>div .graph-container>div .graph-bar>div.graph-nameRow1>ul>li { float:left; }
	#main3 #section2>div .graph-container>div .graph-bar>div.graph-nameRow1>ul>li:nth-child(1) { width:20%; }
	#main3 #section2>div .graph-container>div .graph-bar>div.graph-nameRow1>ul>li:nth-child(2) { display: none; }
	#main3 #section2>div .graph-container>div .graph-bar>div.graph-nameRow1>ul>li:nth-child(3) { width:16%; }
	#main3 #section2>div .graph-container>div .graph-bar>div.graph-nameRow1>ul>li:nth-child(4) { display: none; }
	#main3 #section2>div .graph-container>div .graph-bar>div.graph-nameRow1>ul>li:nth-child(5) { width:28%; }
	#main3 #section2>div .graph-container>div .graph-bar>div.graph-nameRow1>ul>li:nth-child(6) { display: none; }
	#main3 #section2>div .graph-container>div .graph-bar>div.graph-nameRow2 { bottom:7%; left:50%; margin-left:-10.6666667%; }

} /*400*/

@media all and (max-width:390px){
	/* 헤더모달 닫기아이콘,화살아이콘 위치조정 */
	#header .gnb .header-wrap>div .header-modal>div .language-wrap>span:last-child { right:30px; }
	#header .gnb .header-wrap>div .header-modal>div .header-modal-menu>ul>li>div>a>i { right:30px; }
	
	/* 메인3 섹션2 그래프위치 조정 */
	#main3 #section2>div .graph-container>div .graph-wrap { top:62.8%; left:16%; width:73%; }
	
} /*390*/

@media all and (max-width:360px){
	/* 메인2 서치박스 크기조정 */
		#main2 #notice>div .notice-search>div .notice-search-right { width:150px; }
	/* 헤더모달 닫기아이콘,화살아이콘 위치조정 */
	#header .gnb .header-wrap>div .header-modal>div .language-wrap>span:last-child { right:20px; }
	#header .gnb .header-wrap>div .header-modal>div .header-modal-menu>ul>li>div>a>i { right:35px; }
	
	
	#main3 #section3>div .sec3-tabMenu>div>span>a {  font-size:13px; }
	#main3 #section2>div .graph-container>div .graph-wrap { top:64.5%; left:16%; width:73%; }
	/* 메인3 재무재표 테이블 */
	#main3 #section3>div .sec3-tabMenu>div>span { margin-top:5px; }
	/* 메인3 재무재표 보드 */
	#main3 #section3>div .sec3-board1>table>tbody>tr>th { font-size:10px; height:40px; }
	#main3 #section3>div .sec3-board1>table>tbody>tr>td { font-size:10px; height:40px; }
	
	
} /*390*/








